body {
    font-family: Arial, sans-serif;
}

.header {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

#progress {
    margin-left: 10px;
    font-size: small;
}

.right {
    margin-left: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}